# Excluir archivos innecesarios del despliegue
node_modules/
dist/
.git/
.env
*.log
*.md
.DS_Store
.vscode/
.idea/
*.zip
*.tar.gz
*.tar
coverage/
.nyc_output/
*.swp
*.swo
*~
patoshub/
**/patoshub/
**/*.dex
**/build/
**/intermediates/












